.hero {
  align-items: center;
  background-image: url(../imgs/lines.png);
  background-position: center;
  background-size: 600px;
  display: flex;
  height: calc(100vh - 48px - 250px);
  justify-content: center;
  width: 100%;

  h1 {
    background-color: white;
    color: #2c2c2c;
    font-size: 80px;
    padding: 20px 50px;
  }
}
