.footer {
  background-color: #6a6a6a;
  color: white;
  padding: 10px 100px 20px;
  text-align: center;

  &__content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);

  }
}